@page "/"
@using Generador_ABM.Data;
@using static Generador_ABM.Data.EnumTipoDato;

<PageTitle>Index</PageTitle>
<MudPaper Class="d-flex justify-content-around px-1" Elevation="0">
    <h2>Generador de Clase</h2>
    <h2>Lista de aributos</h2>

</MudPaper>
<MudGrid >
<MudItem xs="8">
        <MudPaper Class="d-flex align-center justify-center py-4" Elevation=5>
     
        @*Formulario de Clase*@

        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" ReadOnly="false">
            <MudText Typo="Typo.h6">Agregue los atributos de la clase y el tipo de dato</MudText>
            <MudTextField Class="col-4" @bind-Value="nombreClase" Label="Nombre de la clase"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          Required="true"
                          RequiredError="Ingrese el nombre de la clase"></MudTextField>
            <MudSpacer />
            <br />
            <MudGrid>
                <MudItem>
                    <MudText Typo="Typo.h6">Atributos</MudText>
                    <MudTextField Class="col-12" @bind-Value="atributo" Label="Nombre de atributo"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  Required="true"
                                  RequiredError="Ingrese el nombre del atributo"></MudTextField>

                </MudItem>
                <MudItem>
                    <MudText Typo="Typo.h6">Tipo de dato</MudText>
                    <MudSelect Class="col-12" TValue="DataType" @bind-Value="tipoDatoSelecionado" Variant="Variant.Outlined" Margin="Margin.Dense">
                        @foreach (DataType dataType in Enum.GetValues(typeof(DataType)))
                        {
                            <MudSelectItem Value="dataType">@dataType</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Class="ml-4">
                    <MudText Typo="Typo.h6">Acepta null</MudText>
                    <MudSwitch @bind-Checked="@aceptaNull" Color="Color.Primary" Style="margin:auto;" />
                </MudItem>
                <MudItem Class="ml-8">
                    <MudText Typo="Typo.h6">Valor por defecto</MudText>
                    <MudTextField Class="col-12" @bind-Value="valorPorDefecto" Label="Valor por defecto"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  ></MudTextField>
                </MudItem>
                <MudItem style="display:flex; justify-content:center; align-items:center; margin-top:40px;">
                    <MudButton Variant="Variant.Filled" Disabled="@(!success)" Color="Color.Primary" @onclick="Agregar">Agregar</MudButton>
                </MudItem>
            </MudGrid>
        </MudForm>
    </MudPaper>
</MudItem>

    <MudItem xs="4" >
        @*Lista de la clase*@
        <MudPaper Elevation=5 Class="d-flex align-center justify-center mud-width-full py-8">
              <MudList>
                @foreach (var atributo in lstAtributos)
                {
                    <MudListItem Text=@atributo.NombreAtributo />
                }
             </MudList>
        </MudPaper>
    </MudItem>
</MudGrid>


@code
{
        //Para manejo de errores formulario
        MudForm form;
        bool success;
        string[] errors = { };

    //Para valores de formulario
    public string nombreClase;
    public string atributo;
    public bool aceptaNull;
    public string? valorPorDefecto;

    //Instancia el objeto y declaro el using static de la clase EnumTipodato para acceder al ella.
    public DataType tipoDatoSelecionado;

    //Instancia de clase
    Clase clase = new Clase();
    //Declaro un listado de Tipo Clase
    List<Clase> lstAtributos = new List<Clase>();

    public void Agregar()
    {
        //se invoca el metodo con los argumentos que ingresan por formulario
        clase.AgregarAtributo(atributo, tipoDatoSelecionado, aceptaNull, valorPorDefecto);
        CargarListado();
        
    }

    public void CargarListado()
    {
        lstAtributos=clase.listaAtributos;
    }
}